<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener</title>
</head>
<body>
    <h1>URL Shortener for Shraman! </h1> 
    <h4>Please use carefully</h4>
    <form action="/getshort" method="post">
        <label for="URL">Original URL(Please use the entire URL. Example(http://www.google.com)</label><br><br>
        <input type="text" id="url" name="url"><br><br>
        <label for="MAIL">Email ID</label><br><br>
        <input type="text" id = "mail" name="mail"><br><br>
        <input type="submit" value="Submit">
    </form>   
</body>
</html>